<div class="columns">

  <textarea id="itemData" style="display:none;"><%- JSON.stringify(list.items) %></textarea>

  <div class="conainer">
    <div class="row listheadline">
      <div class="columns col-6">
        <h2><%= list.title %></h2>
        <h3>Created by: <%= list.createdBy.username %></h3>

        <% if(locals.isLoggedIn && list.belongsTo(user)) { %>
          <a href="/lists/<%= list.id %>/edit">Edit</a>
          <form method="POST" action="/lists/<%= list.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button>Delete List</button>
          </form>
        <% } %>
      </div>

      <div class="columns col-6">
        <div class="map">
        </div>
      </div>
    </div>
  </div>

  <% list.items.forEach((item) => { %>
    <img src=<%= item.image %>>
    <h3><%= item.name %></h3>
    <h4><%= item.teamname %></h4>
    <p><%= item.description %></p>
    <p><%= item.experience %></p>

    <% if(locals.isLoggedIn && item.belongsTo(user)) { %>
      <form method="POST" action="/lists/<%= list.id %>/items/<%= item.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    <% } %>
  <% }) %>

  <h4>Comments</h4>

  <% list.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small>

      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
        <form method="POST" action="/lists/<%= list.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
    <% }) %>

  <% if(locals.isLoggedIn) { %>
  <section>
    <h4>Leave a comment</h4>
    <form method="POST" action="/lists/<%= list.id %>/comments">
      <textarea name="content" id="content" placeholder="Comment"></textarea>
      <button class="button">Leave a comment</button>
    </form>
  </section>
  <% } %>

  <% if(locals.isLoggedIn && list.belongsTo(user)) { %>
    <section>
      <h4>List an item</h4>
      <form method="POST" action="/lists/<%= list.id %>/items">
        <textarea name="name" id="name" placeholder="Name"></textarea>
        <input type="hidden" name="longitude" id="longitude" placeholder="Longitude"></textarea>
        <input type="hidden" name="latitude" id="latitude" placeholder="Latitude"></textarea>
        <textarea name="teamname" id="teamname" placeholder="Teamname"></textarea>
        <textarea name="description" id="description" placeholder="Description"></textarea>
        <textarea name="experience" id="experience" placeholder="Your ground experience"></textarea>
        <textarea name="image" id="image" placeholder="Image(URL)"></textarea>
        <button class="button">Add a list item</button>
      </form>
    </section>
  <% } %>

</div>
